/*
red             #d04437
pale red        
green           #14892c
pale green      #89c495
*/

.aui-debug-error {
    background: #d04437;
}

* [data-auidebug-component]:before,
* [data-auidebug-error]:before {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
}

/* Is it AUI? */
* [data-auidebug-component] {
    outline: 2px solid #14892c !important;
    background-color: #89c495 !important;
    border-color: #14892c !important;
}

* [data-auidebug-componenttype="block"] {
    position: relative;
}
* [data-auidebug-componenttype="block"]:before {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Show classes? */
body.aui-debug-showclasses [data-auidebug-component]:before {
    content: attr(data-auidebug-component);   
    color: #fff !important;
    background: #14892c !important;
}

/* Is it an error? */
[data-auidebug-error] {
    background: #d04437 !important;
    border-color: #d04437 !important;
    color: #fff !important;
    outline: 2px solid #d04437 !important;
}
[data-auidebug-error]:before {
    content: attr(data-auidebug-component) " " attr(data-auidebug-error) !important;
    color: white !important;
    outline: 2px solid #d04437 !important;
    background: #d04437 !important;
}

.aui-layout[data-auidebug-error],
.aui-theme-default[data-auidebug-error] {
    background: transparent !important;
    border-color: #ffd351 !important;
    color: #000 !important;
    outline: 2px solid #ffd351 !important;
}
.aui-layout[data-auidebug-error]:before,
.aui-theme-default[data-auidebug-error]:before {
    content: attr(data-auidebug-component) " " attr(data-auidebug-error) !important;
    color: #000 !important;
    outline: 2px solid #ffd351 !important;
    background: #ffd351 !important;
}

body[data-auidebug-error]:before {
    display: block;
    width: 100%;
}


/* Specific component tweaks */
.aui-button[data-auidebug-component]:before,
.aui-buttons[data-auidebug-component]:before {
    position: static;
}

.aui-icon[data-auidebug-component]:before {
    background: #14892c !important;
    color: #fff;
    content: "T" !important;
}
* .aui-icon[data-auidebug-component],
.aui-icon[data-auidebug-component] {
    background: #14892c !important;
}

/* fudging it for dialogs */
.aui-debug-showclasses .aui-inline-dialog,
.aui-debug-showclasses .aui-dialog {
    outline: 2px solid #14892c !important;
}

#jira.aui-debug-showclasses .aui-dialog {
    outline: none !important;
}

[data-auidebug-component="Dialog"] {
    outline-width: 10px !important;
}

[data-auidebug-component="Header"],
[data-auidebug-component="Group"],
[data-auidebug-component="Button Group"] {
    padding-top: 0;
}

[data-auidebug-component="Button Group"] .aui-button:before,
[data-auidebug-component="Toolbar2"] .aui-button:before {
    display: none;
}
